$primary: #0584FE;
$primary-light: #2d99ff;
$primary-lighten: #82c3ff;
$primary-dark: #1253A2;
$success: #10cb10;
$danger: #fd2121;
$gray-500: #BCBCBC;
$gray-600: #8F8F8F;

$media-breakpoint: (
  xs: 320px,
  sm: 420px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
)